body {
  font: 1.25rem serif, system-ui;
  line-height: 150%;
  margin: 5rem;
}

.pfp {
  max-width: 60ch;
  margin: 1.5rem 0;
  padding: 1.5rem;
  border-radius: .5em;
  background: hsl(260, 60%, 96%);
  border: 1px solid hsl(260, 60%, 92%);
}

.pfp main,
.pfp p {
  margin: 1rem;
}
