body {
background-color: #f0f0f2;
margin: 0;
padding: 0;
font-family: monospace;
}
main {
width: 600px;
margin: 5em auto;
padding: 3em;
background-color: #fdfdff;
border-radius: 0.5em;
box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);
}
p {
line-height: 1.6;
}
a:link, a:visited {
color: #38488f;
text-decoration: none;
}
/*
img, canvas {
background-image: url('https://susahcebok.github.io/laughing-invention/pilihfile.png');
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
width: 100%; 
height: auto;
}
img:hover, canvas:hover {
opacity: 0.6;
cursor: not-allowed;
}
*/
img, canvas {
width: 100%; 
height: auto;
}
.image-upload > input {
display: none;
}
.image-upload img {
width: 100%;
cursor: pointer;
}
button {
background: #ddd;
margin:10px 0;
display:inline-block;
padding: 10px;
font-family: inherit;
font-size: 100%;
vertical-align: baseline;
border-radius: 4px;
border: 0;
outline: 0;
}
button::-moz-focus-inner {
border: 0;
padding: 0;
}
button:hover {
opacity: 0.6;
cursor: not-allowed;
}
.upload {
  position: relative;
  width: 100%;
  height: auto;
  border: 2px dashed silver;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: silver;
  margin-bottom: 5px;
}
.upload:before {
  content: "Choose or Drag & Drop Files";
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: silver;
  margin-bottom: 5px;
}
.upload.active {
  background-color: rgba(192, 192, 192, 0.2);
}
@media (max-width: 700px) {
main {
margin: 0 auto;
width: auto;
}
}
