body {
background-color: #f0f0f2;
margin: 0;
padding: 0;
font-family: monospace;
}

main {
width: 600px;
margin: 4em auto;
padding: 3em;
background-color: #fdfdff;
/* animation: fadeInUp 1s ease; */
}

footer {
color: inherit;
margin: 0 auto 2em auto;
text-align: center;
background-color: #f0f0f2;
}

a:link, a:visited {
color: #38488f;
text-decoration: none;
cursor: pointer;
}

b,
strong {
font-weight: bold;
}

p {
  line-height: 1.6;
}

h1 {
font-size: 2em;
margin: 0.67em 0;
}

img, canvas {
border: 0;
width: 100%;
height: auto;
}

button,
input {
color: inherit;
/* 1 */
font: inherit;
/* 2 */
margin: 0;
/* 3 */
}

button {
border: none;
background: #ddd;
padding: 6px 12px;
overflow: visible;
cursor: pointer;
border-radius: 4px;
}

button,
select {
text-transform: uppercase;
}

button,
html input[type="button"],
input[type="reset"] {
-webkit-appearance: button;
cursor: pointer;
}

button[disabled],
html input[disabled] {
cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
border: 0;
padding: 0;
}

/* Custom Styles */

.image-upload > input {
display: none;
}

.image-upload img {
background-color: #f0f0f2;
width: 100%;
cursor: pointer;
}

.a {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.b {
  opacity: 0;
}

.c {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

/*
@keyframes fadeInUp {
from {
opacity: 0;
transform: translateY(20px);
}
to {
opacity: 1;
transform: translateY(0);
}
}
 */

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@media (max-width: 700px) {
main {
margin: 0 auto;
width: auto;
}

img, canvas {
border: 0;
width: 300px;
height: 300px;
}
}
